.lm-pin-popup {
    position: fixed;
    z-index: 2147483647;
    top: 23px;
    right: 15px;
    width: 351px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 6px 24px 0px;
    margin: 0;
    padding: 0;
    background: white;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: lightgrey;
    border-image: initial;
}
.lm-pin-popup::before {
    content: "";
    position: fixed;
    top: 16px;
    right: 107px;
    transform: rotate(45deg);
    width: 16px;
    height: 16px;
    background-color: #E0FCD6;
    border-radius: 2px;
    border-top: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
}
#lmPinPuzzleButton {
    position: absolute;
    bottom: 53%;
    left: 22%;
}
